*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* CSS for the Header */
.header{
    height: 14vh;
    width: 100vw;
    display: flex;
    background: #f7f8f7;
    justify-content: space-around;
    align-items: center;
}

.headerImg{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 14vw;
    height: 14vh;
}
.headerImg img{
    width: 10vw;
    height: 14vh;
}

.headerImg img:hover{
    cursor: pointer;
}

.headerNavList{
    display: flex;
    width: 40vw;
    height:14vh;
    justify-content: space-between;
    align-items: center;
}

.headerNavList li{
    list-style: none;    
    font-size: 2.8vh;
    font-weight: 400;
}

.headerNavList li a{
    text-decoration: none;
    color: #7c8698;
}

.headerNavList li a:hover{
    cursor: pointer;
    color: #000;
}

.headerButton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 14vh;
    width: 24vw;
}

.headerButton1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:4.4vw;
    height: 5vh;
    background: #e6e6e6;
    border-radius: 10vw;
}

.headerButton1:hover{
    cursor: pointer;
}

.headerButton2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height:10vh;
    border: 2px solid #a7e92f;
    border-radius: 1.4vw;
    font-size: 1.2vw;
    font-weight: 400;
    margin-left: 2vw;
}

.headerButton2:hover{
    cursor: pointer;
    background-color: #a7e92f;
}

.hamburger img{
    display: none;
    width: 4vw;
    height: 6vh;
}

/* CSS for the main section  */

.main{
    background-image:  url(./Assets/home_mod.webp);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
    border-radius: 5vw;
}

.mainContainer{
    display:flex;
    flex-direction:column;
    width: 100vw;
    height: 100vh;
    justify-content: end;
}

.mainContainer1{
    width: 64vw;
    height: 26vh;
    color: white;
    font-size: 5.4vh;
    font-weight: 600;
    padding: 0 8vh;
}

.mainContainer1 span{
    color: #a7e92f;
}

.mainContainer2{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    width: 100vw;
    height: 18vh;
    padding: 0 8vh;
}

.mainContainer2 button{
    width: 24vw;
    height: 10vh;
    background-color: #a7e92f;
    font-size: 1.5vw;
    font-weight: 400 !important;
    border: none;
    border-radius: 3vh;
}
.mainContainer2 button:hover{
    cursor: pointer;
}

/* Container Boxes */

.containerBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 54vh;
    background-color: #f7f8f7;
}

.containerBoxManage{
    display: flex;
    row-gap: 4vw;
}

.containerBox1{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 22vw;
    height: 28vh;
    background-color: #fff;
    border-radius: 6vh;
    margin: 0 1vw;
}

.containerBox1 img{
    width: 16vw;
    height: 28vh;
}

.containerBox1 h2{
    font-weight: 300 ;
    margin-bottom: 12vh;
    color: #3a3b3c;
}

.containerBox1:hover{
    cursor: pointer;
}

/* CSS for the sentence  */

.sloganContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    background-color: #f7f8f7;
}

.sloganContainer h1{
    font-size: 4.4vw;
    font-weight: 200;
    margin: 0 16vh 0 4vh;
    line-height: 5vw;
}

.sloganContainer h1 span{
    background-color: #a7e92f;
}

/* Geographical And cities Numbers */

.numberContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 40vh;
    background-color: #f7f8f7;
}

.numberContainerManage{
    display: flex;
}

.numberContainer1{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 22vw;
    height: 28vh;
    background-color: #f7f8f7;
    border-top: 2px solid #a7e92f;
    margin-left: 2vw;
}

.numberContainer1 h1{
    font-size: 5vw;
}

.numberContainer1 p{
    font-size: 1.8vw;
}

/* Try Photo Crawlers */

.trysection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f8f7;
}

.trysectionManage{
    display: flex;
    column-gap: 4vw;
}

.try1{
    width: 28vw;
    height: 90vh;
    border-radius: 6vh;
}

.try1 img{
    width: 28vw;
    height: 32vh;
    border-top-right-radius: 6vh;
    border-top-left-radius: 6vh;
}

.try1box{
    display: flex;
    flex-direction: column;
}

.try1box h1{
    font-size: 1.9vw;
    font-weight: 600;
    margin: 4vh 3vh ;
}

.try1box p{
    font-size: 1.6vw;
    font-weight: 400;
    margin: 1vh 3vh ;
    color: #3a3b3c;
}

.try1box ul{
    font-size: 1.6vw;
    font-weight: 400;
    margin: 1vh 3vh ;
    color: #3a3b3c;
}

.try1box ul li{
    margin: 1vh 3vh ;
    color: #3a3b3c;
}
.emptybox{
    width: 100vw;
    height: 20vh;
    background-color: #f7f8f7;
}

/* QR css  */

.QRbox{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 60vh;
    background-color: #1b1b1c;
    border-radius: 16vh;
}

.QRbox1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 6vh;
}

.QRbox1 h1{
    font-size: 11vh;
    color: #fff;
    font-weight: 500;
    margin-bottom: 6vh;
}

.QRbox1 h1 span{
    color: #a7e92f;
}

.QRbox1 button{
    width: 26vw;
    height: 14vh;
    background-color: #a7e92f;
    color: #1b1b1c;
    border-radius: 2vw;
    border: none;
    font-size: 3.8vh;
}

.QRbox2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:30vw ;
    height:70vh ;
    background-color: #fff;
    border-radius: 10vh;
   margin-top :-5vh; 
}

.QRbox2 p{
    font-size: 1.8vw;
    font-weight: 500;
    text-align: center;
    margin-top :2vh; 
}

.QRbox2 img{
    width: 20vw;
    height: 40vh;
    margin-bottom: 6vh;
}

/* CSS for the justice section  */

.justice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    background-color: #f7f8f7;
}

.justice h1{
    width: 62vw;
    font-size: 10vh;
    font-weight: 500;
    margin-left: 2vw;
}

.justice p{
    width: 34vw;
    text-align:left ;
    font-size: 3.5vh;
    color: #1b1b1c;
    margin-right: 4vw;
}

/*   <!-- Below another Four Boxes --> */

.containerBoxMain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 54vh;
    background-color: #f7f8f7;
    margin-top: -10vw;
}


.containerManage{
    display: flex;
    row-gap: 4vw;
}
.containerBox2{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 22vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 6vh;
    margin:0 1vw ;
}

.containerBox2 h1{
    width:12vw ;
    margin: 2vw 0 0 2vw;
    font-size: 1.6vw;
    font-weight: 500;
}

.containerBox2 h1:hover{
    cursor: pointer;
}

.containerBox2 div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    border: 2px solid #a7e92f;
    border-radius: 10vw;
    margin:  0 0 1vw 16vw;
}

.containerBox2 div:hover{
    cursor: pointer;
    background-color: #a7e92f;
}

/* CSS for the footer */

.footer{
    width: 100vw;
    height: 120vh;
    background-color: #1b1b1c;
    border: none;
    border-top-left-radius:4vw;
    border-top-right-radius:4vw;
}

.footerBox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 2.5vw;
    
}

.footerBoxmanage{
    display: flex;
}
.footerBox1{
    width: 16vw;
    height: 50vh;
    margin-top: 10vh;
}

.footerBox2{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    margin-top: 10vh;
    color: #fff;
}

.footerBox2 h1{
    font-size: 1.6vw;
    margin: 2vh 0 4vh 0 ;
}

.footerBox2 ul li{
    list-style: none;
    font-size: 1.4vw;
    margin: 5vh 0 5vh 0 ;
}

.footerBox2 ul li,.footerBox2 h1:hover{
    cursor: pointer;
}


.footerBox3{
    width: 16vw;
    height: 52vh;
    margin-top: 8vh;
}

.headerButtonFooterBox3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerButton1FooterBox3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:4.4vw;
    height: 5vh;
    background: #2d2d2e;
    border-radius: 10vw;
    color: #fff;
}

.headerButton1FooterBox3:hover{
    cursor: pointer;
}
 /* All links section CSS */

 .linkBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50vh;
 }

 .linkBox1{
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    width: 40vw;
    height: 50vh;
    padding-left: 3vw ;
 }

 .linkList1 img{
    margin: 0 0.8vh;
 }

.linkList2 p{
    font-size: 1.4vw;
    color: #767677;
    text-align: left;
}


 .linkList3 img{
    width: 10vw;
    height: 8vh;
 }

 .linkBox3{
    width: 30vw;
    height: 50vh;
 }

 .linkBox3 img{
    float:right;
    margin : 20vh 4vw 0 0;
 }

 /* footerLast */

 .footerLast{
    width: 40vw;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .footerLast li{
    margin:0 2vw;
    list-style: none;
    color:#ffffff;
    font-weight: 500;
 }

 .footerLast li:hover{
    cursor: pointer;
 }

 /* Max-Width : 992px */

 @media screen and (max-width : 992px){
  
/* CSS for the Header */
.header{
    height: 12vh;
    width: 100vw;
    display: flex;
    background: #f7f8f7;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: sticky;
    top: 0;
}

.headerImg{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 14vw;
    height: 14vh;
    margin-left: 2vw;
}
.headerImg img{
    width: 16vw;
    height: 9vh;
}

.headerImg img:hover{
    cursor: pointer;
}

.headerNavList{
    display: none;
}


.headerButton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 14vh;
    width: 22vw;
}

.headerButton1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:8vw;
    height: 5.4vh;
    font-weight: 700;
    background: #e6e6e6;
    border-radius: 10vw;
}

.headerButton1:hover{
    cursor: pointer;
}

.headerButton2{
    display: none;
}


.hamburger img{
    display: block;
    width: 3vw;
    height: 3.4vh;
}

/* CSS for the main section  */

.main{
    background-image:  url(./Assets/home_mod_.webp);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
    border-radius: 5vw;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: right;
}

.mainContainer{
    display:flex;
    flex-direction:column;
    width: 100vw;
    height: 100vh;
    justify-content: end;
}

.mainContainer1{
    width: 64vw;
    height: 15vh;
    color: #ffffff;
    font-size: 2.9vh;
    font-weight: 100;
    padding: 0 5vh;
}

.mainContainer1 span{
    color: #a7e92f;
}

.mainContainer2{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    width: 100vw;
    height: 18vh;
    padding: 0 5vh;
}

.mainContainer2 button{
    width: 30vw;
    height: 10vh;
    background-color: #a7e92f;
    font-size: 2.2vw;
    font-weight: 400 !important;
    border: none;
    border-radius: 3vh;
}
.mainContainer2 button:hover{
    cursor: pointer;
}

/* Container Boxes */

.containerBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 54vh;
    background-color: #f7f8f7;
}

.containerBoxManage{
    display: flex;
    flex-direction: column;
    row-gap: 4vw;
}

.containerBox1{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    width: 40vw;
    height: 16vh;
    background-color: #fff;
    border-radius: 6vh;
    padding: 0 2vw;
    margin: 0 1vw;
}

.containerBox1 img{
    width: 14vw;
    height: 16vh;
}

.containerBox1 h2{
    margin-bottom: 1vh;
    font-weight: 300 ;
    font-size: 2vw;
    color: #3a3b3c;
}

.containerBox1:hover{
    cursor: pointer;
}

/* CSS for the sentence  */

.sloganContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 18vh;
    background-color: #f7f8f7;
}

.sloganContainer h1{
    font-size:3.6vw;
    font-weight: 400;
    margin: 0 16vh 0 4vh;
    line-height: 5vw;
}

.sloganContainer h1 span{
    background-color: #a7e92f;
}
/* Geographical And cities Numbers */

.numberContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 60vh;
    background-color: #f7f8f7;
}

.numberContainerManage{
    display: flex;
    flex-direction: column;
}

.numberContainer1{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 40vw;
    height: 24vh;
    background-color: #f7f8f7;
    border-top: 2px solid #a7e92f;
    margin-left: 2vw;
}

.numberContainer1 h1{
    font-size: 7.4vw;
}

.numberContainer1 p{
    font-size:2.8vw;
    font-weight: 200;
}

/* Try Photo Crawlers */

.trysection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #f7f8f7;
}

.trysectionManage{
    display: flex;
    column-gap: 4vw;
}

.try1{
    width: 44vw;
    height: 96vh;
    border-radius: 6vh;
    margin-bottom: 2vh;
}

.try1 img{
    width: 44vw;
    height: 36vh;
    border-top-right-radius: 6vh;
    border-top-left-radius: 6vh;
}

.try1box{
    display: flex;
    flex-direction: column;
}

.try1box h1{
    font-size: 3vw;
    font-weight: 600;
    margin: 4vh 3vh ;
}

.try1box p{
    font-size: 2.6vw;
    font-weight: 400;
    margin: 1vh 3vh ;
    color: #3a3b3c;
}

.try1box ul{
    font-size: 2.6vw;
    font-weight: 400;
    margin: 1vh 3vh ;
    color: #3a3b3c;
}

.try1box ul li{
    margin: 1vh 3vh ;
    color: #3a3b3c;
}
.emptybox{
    display: none;
}

/* QR css  */

.QRbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 12vh;
    background-color:#f7f8f7;
}

.QRbox1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.QRbox1 h1{
display: none;
}

.QRbox1 button{
    width: 44vw;
    height: 10vh;
    background-color: #a7e92f;
    color: #1b1b1c;
    border-radius: 2vw;
    border: none;
    font-size: 3vw;
}

.QRbox2{
    display: none;
}
/* CSS for the justice section  */

.justice{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 34vh;
    background-color: #f7f8f7;
}

.justice h1{
    font-size: 2.8vw;
    font-weight: 500;
}

.justice p{
    width: 90vw;
    font-size: 3vh;
    color: #1b1b1c;
    margin-left: 2vw;
}

/*   <!-- Below another Four Boxes --> */

.containerBoxMain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 54vh;
    background-color: #f7f8f7;
    margin-top: -10vw;
}

.containerBox2{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 22vw;
    height: 28vh;
    background-color: #fff;
    border-radius: 6vh;
}

.containerBox2 h1{
    width:12vw ;
    margin: 2vw 0 0 2vw;
    font-size: 1.6vw;
    font-weight: 500;
}

.containerBox2 h1:hover{
    cursor: pointer;
}

.containerBox2 div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    border: 2px solid #a7e92f;
    border-radius: 10vw;
    margin:  0 0 1vw 16vw;
}

.containerBox2 div:hover{
    cursor: pointer;
    background-color: #a7e92f;
}

/*   <!-- Below another Four Boxes --> */

.containerBoxMain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 96vh;
    background-color: #f7f8f7;
}

.containerManage{
    display: flex;
    flex-direction: column;
    row-gap: 4vw;
}
.containerBox2{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 40vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 6vh;
    margin:0 1vw ;
}

.containerBox2 h1{
    width:20vw ;
    margin: 4vw 0 0 2vw;
    font-size: 2.4vw;
    font-weight: 500;
}

.containerBox2 h1:hover{
    cursor: pointer;
}

.containerBox2 div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
    border: 2px solid #a7e92f;
    border-radius: 10vw;
    margin:  0 0 1vw 31vw;
}

.containerBox2 div:hover{
    cursor: pointer;
    background-color: #a7e92f;
}


/* CSS for the footer */

.footer{
    width: 100vw;
    height: 156vh;
    background-color: #1b1b1c;
    border: none;
    border-top-left-radius:4vw;
    border-top-right-radius:4vw;
}

.footerBox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 2.5vw;
}

.footerBoxmanage{
    display: flex;
    flex-direction: column;
}
.footerBox1{
    width: 16vw;
    height: 3vh;
    margin-top: 7vh;
}

.footerBox2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 10vh;
    margin-top: 16vh;
    color: #fff;
}

.footerBox2 h1{
    font-size: 3vw;
    margin: 1vh 0 4vh 0 ;
}

.footerBox2 ul li{
    display: none;
}
.footerBox2 h1:hover{
    cursor: pointer;
}


.footerBox3{
    width: 16vw;
    height: 40vh;
    margin-top: 8vh;
}

.headerButtonFooterBox3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerButton1FooterBox3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:10vw;
    height: 6vh;
    font-size: 2.4vw;
    background: #2d2d2e;
    border-radius: 10vw;
    color: #fff;
}

.headerButton1FooterBox3:hover{
    cursor: pointer;
}
 /* All links section CSS */

 .linkBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 90vh;
    margin-top: 6vh;
 }

 .linkBox1{
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    width: 100vw;
    height: 60vh;
    padding-left: 3vw ;
    text-align: center;
 }

 .linkList1 img{
    margin: 0 0.8vh;
    width: 6vw;
    height: 9vh;
 }

.linkList2 p{
    font-size: 2.6vw;
    color: #767677;
    text-align: center;
}

.linkList3{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}

 .linkList3 img{
    width: 18vw;
    height: 10vh;
 }

 .linkBox3{
    width: 40vw;
    height: 30vh;
 }

 .linkBox3 img{
    margin: auto;
 }

 /* footerLast */

 .footerLast{
    width: 60vw;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .footerLast li{
    margin:0 2vw;
    list-style: none;
    color:#ffffff;
    font-weight: 3vw;
    font-weight: 400;
 }

 .footerLast li:hover{
    cursor: pointer;
 }

 }

 
 /* Max-Width : 768px */

 @media screen and (max-width : 768px){
  
    /* CSS for the Header */
    .header{
        height: 12vh;
        width: 100vw;
        display: flex;
        background: #f7f8f7;
        justify-content: space-between;
        align-items: center;
        padding: 0 2vw;
        position: sticky;
        top: 0;
    }
    
    .headerImg{
        display: flex;
        justify-content:center;
        align-items: center;
        width: 16vw;
        height: 14vh;
        margin-left: 4vw;
    }
    .headerImg img{
        width: 20vw;
        height: 10vh;
    }
    
    .headerImg img:hover{
        cursor: pointer;
    }
    
    .headerNavList{
        display: none;
    }
    
    
    .headerButton{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 14vh;
        width: 22vw;
    }
    
    .headerButton1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width:10vw;
        height: 6vh;
        font-weight: 700;
        background: #e6e6e6;
        border-radius: 10vw;
    }
    
    .headerButton1:hover{
        cursor: pointer;
    }
    
    .headerButton2{
        display: none;
    }
    
    
    .hamburger img{
        display: block;
        width: 3.4vw;
        height: 3vh;
    }
    
    /* CSS for the main section  */
    
    .main{
        position: relative;
        background-image:  url(./Assets/home_mod_.webp);
        background-size: cover;
        width: 100vw;
        height: 100vh;
        background-color: #e6e6e6;
        border-radius: 5vw;
        background-size: cover;
        background-attachment: fixed;
        background-position-x: right ;
        margin-bottom: 14vh;
    }
    
    .mainContainer{
        display:flex;
        flex-direction:column;
        width: 100vw;
        height: 116vh;
        justify-content: end;
    }
    
    .mainContainer1{
        width: 76vw;
        height: 18vh;
        color: #ffffff;
        font-size: 3vh;
        font-weight: 100;
        padding: 0 8vh;
    }
    
    .mainContainer1 span{
        color: #a7e92f;
    }
    
    .mainContainer2{
        display: flex;
        justify-content: center;
        align-items:center ;
        width: 100vw;
        height: 18vh;
        padding: 0 5vh;
    }

    
    .mainContainer2 button{
        width: 80vw;
        height: 10vh;
        background-color: #a7e92f;
        font-size: 4vw;
        font-weight: 500 !important;
        border: none;
        border-radius: 3vh;
        margin-left: 20vw;
    }
    .mainContainer2 button:hover{
        cursor: pointer;
    }

    .mainContainer2 img{
        margin-bottom: 40vh;
    }
    
    /* Container Boxes */
    
    .containerBox{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 54vh;
        background-color: #f7f8f7;
    }
    
    .containerBoxManage{
        display: flex;
        flex-direction: column;
        row-gap: 4vw;
    }
    
    .containerBox1{
        display: flex;
        justify-content:space-evenly;
        flex-direction: row;
        align-items: center;
        width: 40vw;
        height: 20vh;
        background-color: #fff;
        border-radius: 6vh;
        padding: 0 2vw;
        margin: 0 1vw;
    }
    
    .containerBox1 img{
        width: 16vw;
        height: 16vh;
    }
    
    .containerBox1 h2{
        margin-bottom: 1vh;
        font-weight: 300 ;
        font-size: 3vw;
        color: #3a3b3c;
    }
    
    .containerBox1:hover{
        cursor: pointer;
    }
    
    /* CSS for the sentence  */
    
    .sloganContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 18vh;
        background-color: #f7f8f7;
    }
    
    .sloganContainer h1{
        font-size:4.4vw;
        font-weight: 400;
        margin: 0 12vh 0 6vh;
        line-height: 5vw;
    }
    
    .sloganContainer h1 span{
        background-color: #a7e92f;
    }
    /* Geographical And cities Numbers */
    
    .numberContainer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 60vh;
        background-color: #f7f8f7;
    }
    
    .numberContainerManage{
        display: flex;
        flex-direction: column;
    }
    
    .numberContainer1{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        width: 40vw;
        height: 24vh;
        background-color: #f7f8f7;
        border-top: 2px solid #a7e92f;
        margin-left: 2vw;
    }
    
    .numberContainer1 h1{
        font-size: 7.4vw;
    }
    
    .numberContainer1 p{
        font-size:3vw;
        font-weight: 200;
    }
    
    /* Try Photo Crawlers */
    
    .trysection{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: #f7f8f7;
        margin-top: 4vh;
    }
    
    .trysectionManage{
        display: flex;
        column-gap: 4vw;
    }
    
    .try1{
        width: 40vw;
        height: 92vh;
        border-radius: 6vh;
        margin-bottom: 2vh;
    }
    
    .try1 img{
        width: 40vw;
        height: 32vh;
        border-top-right-radius: 6vh;
        border-top-left-radius: 6vh;
    }
    
    .try1box{
        display: flex;
        flex-direction: column;
    }
    
    .try1box h1{
        font-size: 3vw;
        font-weight: 600;
        margin: 4vh 3vh ;
    }
    
    .try1box p{
        font-size: 3vw;
        font-weight: 400;
        margin: 1vh 3vh ;
        color: #3a3b3c;
    }
    
    .try1box ul{
        font-size: 2.6vw;
        font-weight: 400;
        margin: 1vh 3vh ;
        color: #3a3b3c;
    }
    
    .try1box ul li{
        margin: 1vh 3vh ;
        color: #3a3b3c;
    }
    .emptybox{
        display: none;
    }
    
    /* QR css  */
    
    .QRbox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        background-color:#f7f8f7;
    }
    
    .QRbox1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .QRbox1 h1{
    display: none;
    }
    
    .QRbox1 button{
        width: 44vw;
        height: 10vh;
        background-color: #a7e92f;
        color: #1b1b1c;
        border-radius: 2vw;
        border: none;
        font-size: 3vw;
    }
    
    .QRbox2{
        display: none;
    }
    /* CSS for the justice section  */
    
    .justice{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100vw;
        height: 40vh;
        background-color: #f7f8f7;
        padding-left: 4vw;
    }
    
    .justice h1{
        font-size: 3vw;
        font-weight: 500;
    }
    
    .justice p{
        width: 90vw;
        font-size: 2.4vw;
        color: #1b1b1c;
    }
    
    /*   <!-- Below another Four Boxes --> */
    
    .containerBoxMain{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 96vh;
        background-color: #f7f8f7;
    }
    
    .containerManage{
        display: flex;
        flex-direction: column;
        row-gap: 4vw;
    }
    .containerBox2{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 40vw;
        height: 30vh;
        background-color: #fff;
        border-radius: 6vh;
        margin:0 1vw ;
    }
    
    .containerBox2 h1{
        width:20vw ;
        margin: 4vw 0 0 2vw;
        font-size: 3vw;
        font-weight: 500;
    }
    
    .containerBox2 h1:hover{
        cursor: pointer;
    }
    
    .containerBox2 div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7vw;
        height: 7vw;
        border: 2px solid #a7e92f;
        border-radius: 10vw;
        margin:  0 0 2.4vw 30vw;
    }
    
    .containerBox2 div:hover{
        cursor: pointer;
        background-color: #a7e92f;
    }
    
    
    /* CSS for the footer */
    
    .footer{
        width: 100vw;
        height: 156vh;
        background-color: #1b1b1c;
        border: none;
        border-top-left-radius:4vw;
        border-top-right-radius:4vw;
    }
    
    .footerBox{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 2.5vw;
    }
    
    .footerBoxmanage{
        display: flex;
        flex-direction: column;
    }
    .footerBox1{
        width: 16vw;
        height: 3vh;
        margin-top: 7vh;
    }
    
    .footerBox2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
        height: 10vh;
        margin-top: 16vh;
        color: #fff;
    }
    
    .footerBox2 h1{
        font-size: 3vw;
        margin: 1vh 0 4vh 0 ;
    }
    
    .footerBox2 ul li{
        display: none;
    }
    .footerBox2 h1:hover{
        cursor: pointer;
    }
    
    
    .footerBox3{
        width: 16vw;
        height: 40vh;
        margin-top: 8vh;
    }
    
    .headerButtonFooterBox3{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .headerButton1FooterBox3{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width:10vw;
        height: 6vh;
        font-size: 2.4vw;
        background: #2d2d2e;
        border-radius: 10vw;
        color: #fff;
    }
    
    .headerButton1FooterBox3:hover{
        cursor: pointer;
    }
     /* All links section CSS */
    
     .linkBox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 90vh;
        margin-top: 6vh;
     }
    
     .linkBox1{
        display: flex;
        flex-direction:column ;
        justify-content: space-evenly;
        width: 100vw;
        height: 60vh;
        padding-left: 3vw ;
        text-align: center;
     }
    
     .linkList1 img{
        margin: 0 0.8vh;
        width: 6vw;
        height: 9vh;
     }
    
    .linkList2 p{
        font-size: 2.6vw;
        color: #767677;
        text-align: center;
    }
    
    .linkList3{
        width: 90vw;
        display: flex;
        justify-content: space-evenly;
    }
    
     .linkList3 img{
        width: 18vw;
        height: 10vh;
     }
    
     .linkBox3{
        width: 40vw;
        height: 30vh;
     }
    
     .linkBox3 img{
        margin: auto;
     }
    
     /* footerLast */
    
     .footerLast{
        width: 60vw;
        height: 12vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     }
    
     .footerLast li{
        margin:0 2vw;
        list-style: none;
        color:#ffffff;
        font-weight: 3vw;
        font-weight: 400;
     }
    
     .footerLast li:hover{
        cursor: pointer;
     }
    
     }


     /* Max-Width : 576px */

 @media screen and (max-width : 576px){
  
    /* CSS for the Header */
    .header{
        height: 12vh;
        width: 100vw;
        display: flex;
        background: #f7f8f7;
        justify-content: space-between;
        align-items: center;
        padding: 0 2vw;
        position: sticky;
        top: 0;
    }
    
    .headerImg{
        display: flex;
        justify-content:center;
        align-items: center;
        width: 16vw;
        height: 14vh;
        margin-left: 4vw;
    }
    .headerImg img{
        width: 20vw;
        height: 10vh;
    }
    
    .headerImg img:hover{
        cursor: pointer;
    }
    
    .headerNavList{
        display: none;
    }
    
    
    .headerButton{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 14vh;
        width: 22vw;
    }
    
    .headerButton1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width:10vw;
        height: 5vh;
        font-weight: 700;
        background: #e6e6e6;
        border-radius: 10vw;
    }
    
    .headerButton1:hover{
        cursor: pointer;
    }
    
    .headerButton2{
        display: none;
    }
    
    
    .hamburger img{
        display: block;
        width: 3.4vw;
        height: 3vh;
    }
    
    /* CSS for the main section  */
    
    .main{
        position: relative;
        background-image:  url(./Assets/home_mod_.webp);
        background-size: cover;
        width: 100vw;
        height: 80vh;
        background-color: #e6e6e6;
        border-radius: 5vw;
        background-size: cover;
        background-attachment: fixed;
        background-position-x: right ;
        margin-bottom: 14vh;
    }
    
    .mainContainer{
        display:flex;
        flex-direction:column;
        width: 100vw;
        height: 96vh;
        justify-content: end;
    }
    
    .mainContainer1{
        width: 90vw;
        height: 18vh;
        color: #ffffff;
        font-size:2.8vh;
        font-weight: 100;
        padding: 0 4vh;
    }
    
    .mainContainer1 span{
        color: #a7e92f;
    }
    
    .mainContainer2{
        display: flex;
        justify-content: center;
        align-items:center ;
        width: 100vw;
        height: 18vh;
        padding: 0 5vh;
    }

    
    .mainContainer2 button{
        width: 100vw;
        height: 10vh;
        background-color: #a7e92f;
        font-size: 4vw;
        font-weight: 500 !important;
        border: none;
        border-radius: 3vh;
        margin-left: 20vw;
    }
    .mainContainer2 button:hover{
        cursor: pointer;
    }

    .mainContainer2 img{
       margin-bottom: 154vh;
    }
    
    /* Container Boxes */
    
    .containerBox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 70vh;
        background-color: #f7f8f7;
    }
    
    .containerBoxManage{
        display: flex;
        flex-direction: column;
        margin: 1vh 0;
    }
    
    .containerBox1{
        display: flex;
        justify-content:space-evenly;
        flex-direction: row;
        align-items: center;
        width: 90vw;
        height: 14vh;
        background-color: #fff;
        border-radius: 6vh;
        padding: 0 2vw;
    }
    
    .containerBox1 img{
        width: 16vw;
        height: 16vh;
    }
    
    .containerBox1 h2{
        margin-bottom: 1vh;
        font-weight: 300 ;
        font-size: 4vw;
        color: #3a3b3c;
    }
    
    .containerBox1:hover{
        cursor: pointer;
    }
    
    /* CSS for the sentence  */
    
    .sloganContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 34vh;
        background-color: #f7f8f7;
    }
    
    .sloganContainer h1{
        font-size:6vw;
        font-weight: 400;
        margin: 0 8vh 0 6vh;
        line-height: 7vw;
    }
    
    .sloganContainer h1 span{
        background-color: #a7e92f;
    }
    /* Geographical And cities Numbers */
    
    .numberContainer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 40vh;
        background-color: #f7f8f7;
    }
    
    .numberContainerManage{
        display: flex;
        flex-direction: column;
    }
    
    .numberContainer1{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        width: 40vw;
        height: 20vh;
        background-color: #f7f8f7;
        border-top: 2px solid #a7e92f;
        margin-left: 2vw;
    }
    
    .numberContainer1 h1{
        font-size: 7.4vw;
    }
    
    .numberContainer1 p{
        font-size:4vw;
        font-weight: 200;
    }
    
    /* Try Photo Crawlers */
    
    .trysection{
        width: 100vw;
        height: 230vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: #f7f8f7;
    }
    
    .trysectionManage{
        width: 100vw;
        height: 160vh;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column;
        column-gap: 4vw;
    }
    
    .try1{
        width: 90vw;
        height: 74vh;
        border-radius: 6vh;
        margin-bottom: 2vh;
    }
    
    .try1 img{
        width: 90vw;
        height: 34vh;
        border-top-right-radius: 6vh;
        border-top-left-radius: 6vh;
    }
    
    .try1box{
        display: flex;
        flex-direction: column;
    }
    
    .try1box h1{
        font-size: 6vw;
        font-weight: 600;
        margin: 2vh 3vh ;
    }
    
    .try1box p{
        font-size: 3.6vw;
        font-weight: 400;
        margin: 0 3vh ;
        color: #3a3b3c;
    }
    
    .try1box ul{
        font-size: 3.4vw;
        font-weight: 400;
        margin: 1vh 3vh ;
        color: #3a3b3c;
    }
    
    .try1box ul li{
        margin: 1vh 3vh ;
        color: #3a3b3c;
    }
    .emptybox{
        display: none;
    }
    
    /* QR css  */
    
    .QRbox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 18vh;
        background-color:#f7f8f7;
    }
    
    .QRbox1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .QRbox1 h1{
    display: none;
    }
    
    .QRbox1 button{
        width: 44vw;
        height: 10vh;
        background-color: #a7e92f;
        color: #1b1b1c;
        border-radius: 2vw;
        border: none;
        font-size: 4vw;
        margin-top: 8vw;
    }
    
    .QRbox2{
        display: none;
    }
    /* CSS for the justice section  */
    
    .justice{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100vw;
        height: 34vh;
        background-color: #f7f8f7;
        padding-left: 4vw;
    }
    
    .justice h1{
        font-size: 4.6vw;
        font-weight: 500;
    }
    
    .justice p{
        width: 90vw;
        font-size: 3.4vw;
        color: #1b1b1c;
    }
    
    
    /*   <!-- Below another Four Boxes --> */
    
    .containerBoxMain{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 70vh;
        background-color: #f7f8f7;
    }
    
    .containerManage{
        display: flex;
        flex-direction: column;
        row-gap: 2vw;
    }
    .containerBox2{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 40vw;
        height: 24vh;
        background-color: #fff;
        border-radius: 6vh;
    }
    
    .containerBox2 h1{
        width:20vw ;
        margin: 4vw 0 0 2vw;
        font-size: 3.2vw;
        font-weight: 500;
    }
    
    .containerBox2 h1:hover{
        cursor: pointer;
    }
    
    .containerBox2 div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7vw;
        height: 7vw;
        border: 2px solid #a7e92f;
        border-radius: 10vw;
        margin:  0 0 2vw 30vw;
    }
    
    .containerBox2 div:hover{
        cursor: pointer;
        background-color: #a7e92f;
    }
    
    
    /* CSS for the footer */
    
    .footer{
        width: 100vw;
        height: 140vh;
        background-color: #1b1b1c;
        border: none;
        border-top-left-radius:4vw;
        border-top-right-radius:4vw;
    }
    
    .footerBox{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 5vw;
    }
    
    .footerBoxmanage{
        display: flex;
        flex-direction: column;
    }
    .footerBox1{
        width: 16vw;
        height: 3vh;
        margin-top: 7vh;
    }
    
    .footerBox2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
        height: 10vh;
        margin-top: 10vh;
        color: #fff;
    }
    
    .footerBox2 h1{
        font-size: 4vw;
        margin: 1vh 0 4vh 0 ;
    }
    
    .footerBox2 ul li{
        display: none;
    }
    .footerBox2 h1:hover{
        cursor: pointer;
    }
    
    
    .footerBox3{
        width: 20vw;
        height: 40vh;
        margin-top: 8vh;
    }
    
    .headerButtonFooterBox3{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .headerButton1FooterBox3{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width:12vw;
        height: 6vh;
        font-size: 2.4vw;
        background: #2d2d2e;
        border-radius: 10vw;
        color: #fff;
    }
    
    .headerButton1FooterBox3:hover{
        cursor: pointer;
    }
     /* All links section CSS */
    
     .linkBox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 80vh;
        margin-top: -3vh;
        padding: 0 2vw;
     }
    
     .linkBox1{
        display: flex;
        flex-direction:column ;
        justify-content: space-evenly;
        width: 100vw;
        height: 60vh;
        padding-left: 4vw ;
        text-align: center;
     }
    
     .linkList1 img{
        margin: 0 0.8vh;
        width: 6vw;
        height: 9vh;
     }
    
    .linkList2 p{
        font-size: 3vw;
        color: #767677;
        text-align: center;
    }
    
    .linkList3{
        width: 90vw;
        display: flex;
        justify-content: space-evenly;
    }
    
     .linkList3 img{
        width: 18vw;
        height: 10vh;
     }
    
     .linkBox3{
        width: 40vw;
        height: 30vh;
     }
    
     .linkBox3 img{
        margin: auto;
     }
    
     /* footerLast */
    
     .footerLast{
        width: 90vw;
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     }
    
     .footerLast li{
        margin:0 3vw;
        list-style: none;
        color:#ffffff;
        font-weight: 1vw;
        font-weight: 400;
     }
    
     .footerLast li:hover{
        cursor: pointer;
     }
    
     }

      
     /* Max-Width : 576px */

 @media screen and (max-width : 442px){
  
    /* CSS for the Header */
    .header{
        height: 8vh;
        width: 100vw;
        display: flex;
        background: #f7f8f7;
        justify-content: space-between;
        align-items: center;
        padding: 0 2vw;
        position: sticky;
        top: 0;
    }
    
    .headerImg{
        display: flex;
        justify-content:center;
        align-items: center;
        width: 16vw;
        height: 14vh;
        margin-left: 10vw;
    }
    .headerImg img{
        width: 30vw;
        height: 12vh;
    }
    
    .headerImg img:hover{
        cursor: pointer;
    }
    
    .headerNavList{
        display: none;
    }
    
    
    .headerButton{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 14vh;
        width: 40vw;
    }
    
    .headerButton1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width:18vw;
        height: 4vh;
        font-weight: 700;
        background: #e6e6e6;
        border-radius: 10vw;
    }
    
    .headerButton1:hover{
        cursor: pointer;
    }
    
    .headerButton2{
        display: none;
    }
    
    
    .hamburger img{
        display: block;
        width: 4vw;
        height: 3.4vh;
    }
    
    /* CSS for the main section  */
    
    .main{
        position: relative;
        background-image:  linear-gradient(rgb(187, 137, 137),rgb(0, 60, 255));
        background-size: cover;
        width: 100vw;
        height: 44vh;
        background-color: #e6e6e6;
        border-radius: 5vw;
        background-size: cover;
        background-attachment: fixed;
        background-position-x:right  ;
        margin-bottom: 16vh;
    }
    
    .mainContainer{
        display:flex;
        flex-direction:column;
        width: 100vw;
        height: 50vh;
        justify-content: end;
    }
    
    .mainContainer1{
        width: 100vw;
        height: 18vh;
        color: #ffffff;
        font-size:1.8vh;
        font-weight: 100;
        padding: 0 2vh;
    }
     .mainContainer1 h1{
            margin-top: 14vh;
    }
    
    .mainContainer1 span{
        color: #a7e92f;
    }
    
    .mainContainer2{
        display: flex;
        justify-content: center;
        align-items:center ;
        width: 100vw;
        height: 14vh;
    }

    
    .mainContainer2 button{
        width: 100vw;
        height: 10vh;
        background-color: #a7e92f;
        font-size: 6vw;
        font-weight: 500 !important;
        border: none;
        border-radius: 3vh;
        margin-bottom: -20vh;
        margin-left: -1vw;
    }
    .mainContainer2 button:hover{
        cursor: pointer;
    }

    .mainContainer2 img{
        display: none;
    }
    
    /* Container Boxes */
    
    .containerBox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 44vh;
        background-color: #f7f8f7;
    }
    
    .containerBoxManage{
        display: flex;
        flex-direction: column;
        margin: 1vh 0;
    }
    
    .containerBox1{
        display: flex;
        justify-content:space-evenly;
        flex-direction: row;
        align-items: center;
        width: 90vw;
        height: 9vh;
        background-color: #fff;
        border-radius: 6vh;
        padding: 0 2vw;
    }
    
    .containerBox1 img{
        width: 18vw;
        height: 20vh;
    }
    
    .containerBox1 h2{
        margin-bottom: 1vh;
        font-weight: 300 ;
        font-size: 5vw;
        color: #3a3b3c;
    }
    
    .containerBox1:hover{
        cursor: pointer;
    }
    
    /* CSS for the sentence  */
    
    .sloganContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 24vh;
        background-color: #f7f8f7;
    }
    
    .sloganContainer h1{
        font-size:7vw;
        font-weight: 400;
        margin: 0 4vh 0 4vh;
        line-height: 7vw;
    }
    
    .sloganContainer h1 span{
        background-color: #a7e92f;
    }
    /* Geographical And cities Numbers */
    
    .numberContainer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 26vh;
        background-color: #f7f8f7;
    }
    
    .numberContainerManage{
        display: flex;
        flex-direction: column;
    }
    
    .numberContainer1{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        width: 40vw;
        height: 12vh;
        background-color: #f7f8f7;
        border-top: 2px solid #a7e92f;
        margin-left: 2vw;
    }
    
    .numberContainer1 h1{
        font-size: 8vw;
    }
    
    .numberContainer1 p{
        font-size:5vw;
        font-weight: 200;
    }
    
    /* Try Photo Crawlers */
    
    .trysection{
        width: 100vw;
        height: 190vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: #f7f8f7;
    }
    
    .trysectionManage{
        width: 100vw;
        height: 160vh;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column;
        column-gap: 4vw;
    }
    
    .try1{
        width: 90vw;
        height: 60vh;
        border-radius: 6vh;
        margin-bottom: 2vh;
    }
    
    .try1 img{
        width: 90vw;
        height: 22vh;
        border-top-right-radius: 6vh;
        border-top-left-radius: 6vh;
    }
    
    .try1box{
        display: flex;
        flex-direction: column;
    }
    
    .try1box h1{
        font-size: 8vw;
        font-weight: 600;
        margin: 2vh 3vh ;
    }
    
    .try1box p{
        font-size: 5vw;
        font-weight: 400;
        margin: 0 3vh ;
        color: #3a3b3c;
    }
    
    .try1box ul{
        font-size: 5vw;
        font-weight: 400;
        margin: 1vh 3vh ;
        color: #3a3b3c;
    }
    
    .try1box ul li{
        margin: 1vh 3vh ;
        color: #3a3b3c;
    }
    .emptybox{
        display: none;
    }
    
    /* QR css  */
    
    .QRbox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 12vh;
        background-color:#f7f8f7;
    }
    
    .QRbox1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .QRbox1 h1{
    display: none;
    }
    
    .QRbox1 button{
        width: 80vw;
        height: 8vh;
        background-color: #a7e92f;
        color: #1b1b1c;
        border-radius: 2vw;
        border: none;
        font-size: 6vw;
    }
    
    .QRbox2{
        display: none;
    }
    /* CSS for the justice section  */
    
    .justice{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100vw;
        height: 24vh;
        background-color: #f7f8f7;
        padding-left: 4vw;
    }
    
    .justice h1{
        font-size: 5vw;
        font-weight: 500;
    }
    
    .justice p{
        width: 90vw;
        font-size: 4vw;
        color: #1b1b1c;
    }
    
    
    /*   <!-- Below another Four Boxes --> */
    
    .containerBoxMain{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50vh;
        background-color: #f7f8f7;
    }
    
    .containerManage{
        display: flex;
        flex-direction: column;
        row-gap: 2vw;
    }
    .containerBox2{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 40vw;
        height: 18vh;
        background-color: #fff;
        border-radius: 2vh;
    }
    
    .containerBox2 h1{
        width:20vw ;
        margin: 4vw 0 0 5vw;
        font-size: 5vw;
        font-weight: 500;
    }
    
    .containerBox2 h1:hover{
        cursor: pointer;
    }
    
    .containerBox2 div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 10vw;
        border: 2px solid #a7e92f;
        border-radius: 10vw;
        margin:  0 0 4vw 26vw;
    }
    
    .containerBox2 div:hover{
        cursor: pointer;
        background-color: #a7e92f;
    }
    
    
    /* CSS for the footer */
    
    .footer{
        width: 100vw;
        height: 100vh;
        background-color: #1b1b1c;
        border: none;
        border-top-left-radius:4vw;
        border-top-right-radius:4vw;
    }
    
    .footerBox{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 5vw;
    }
    
    .footerBoxmanage{
        display: flex;
        flex-direction: column;
    }
    .footerBox1{
        width: 16vw;
        height: 3vh;
        margin-top: 2vh;
    }
    
    .footerBox2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40vw;
        height: 10vh;
        margin-top: 10vh;
        color: #fff;
    }
    
    .footerBox2 h1{
        font-size: 5vw;
        margin: 1vh 0 4vh 0 ;
    }
    
    .footerBox2 ul li{
        display: none;
    }
    .footerBox2 h1:hover{
        cursor: pointer;
    }
    
    
    .footerBox3{
        width: 20vw;
        height: 40vh;
        margin-top: 8vh;
    }
    
    .headerButtonFooterBox3{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       margin-top: -5.1vh;
    }
    
    .headerButton1FooterBox3{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width:18vw;
        height: 4vh;
        font-size: 4vw;
        background: #2d2d2e;
        border-radius: 10vw;
        color: #fff;
    }
    
    .headerButton1FooterBox3:hover{
        cursor: pointer;
    }
     /* All links section CSS */
    
     .linkBox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 60vh;
        margin-top: -10vh;
        padding: 0 2vw;
     }
    
     .linkBox1{
        display: flex;
        flex-direction:column ;
        justify-content: space-evenly;
        width: 100vw;
        height: 60vh;
        padding-left: 4vw ;
        text-align: center;
     }
    
     .linkList1 img{
        margin: 0 0.8vh;
        width: 10vw;
        height: 10vh;
     }
    
    .linkList2 p{
        font-size: 4.4vw;
        color: #767677;
        text-align: center;
    }
    
    .linkList3{
        width: 90vw;
        display: flex;
        justify-content: space-evenly;
    }
    
     .linkList3 img{
        width: 18vw;
        height: 5vh;
     }
    
     .linkBox3{
        width: 40vw;
        height: 30vh;
     }
    
     .linkBox3 img{
        margin: auto;
     }
    
     /* footerLast */
    
     .footerLast{
        width: 100vw;
        height: 5vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     }
    
     .footerLast li{
        margin:0 3vw;
        list-style: none;
        color:#ffffff;
        font-weight: 1vw;
        font-size: 4vw;
        font-weight: 400;
     }
    
     .footerLast li:hover{
        cursor: pointer;
     }
    
     }